* {
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: #5fd0e1; /* Pink background */
}

.calculator {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: #ffcccb; /* Light red-pink */
}

.calculator > button:hover {
  background-color: #ffc0cb; /* Lighter red-pink on hover */
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: #e2eaef; /* Dark pink */
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .prev-op {
  color: #eae2e3; /* Light pink for previous operation */
  font-size: 1.5rem;
}

.output .curr-op {
  color: white;
  font-size: 2.5rem;
}
